<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>JMH Charts</title>
		<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.4.1/semantic.min.css"/>
		<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Signika:400,700"/>
	</head>
<body style="background-image: url(images/grey_wash_wall.png);">
<x-jade id="container" style="display: none;">

	#App
		.ui.padded.centered.grid(ng-controller="AppCtrl as ctrl")
			.centered.row
				.ui.inverted.header
					h1 JMH Charts
			.centered.row
				.six.wide.column
					.ui.form.segment
						h3.ui.header Load JSON file(s)
						.inline.field
							.ui.input
								input(type="file" multiple accept=".json" onchange="angular.element(this).scope().ctrl.loadFiles(this)")
						.ui.list
							.item(ng-repeat="file in ctrl.uploaded")
								i.ui.red.remove.icon(title="Remove" ng-click="ctrl.removeFile(file)" style="cursor: pointer;")
								.content(ng-bind="file.name")
				.six.wide.column
					.ui.form.segment
						h3.ui.header Options
						.inline.field
							.ui.toggle.checkbox
								input#perClass(type="checkbox" ng-model="ctrl.config.perClass" ng-change="ctrl.resetCharts()")
								label(for="perClass") Separate chart per class
						.inline.field
							.ui.toggle.checkbox
								input#showConfidence(type="checkbox" ng-model="ctrl.config.showConfidence" ng-change="ctrl.resetCharts()")
								label(for="showConfidence") Show confidence intervals

			.ui.divider

			.centered.row(ng-repeat="chart in ctrl.charts()" ng-init="ctrl.render(chart, this)")
				.twelve.wide.column
					.ui.attached.segment
						div.ui.shape(id="{{chart.id}}" ui-jq="shape" style="width: 100%;")
							.sides
								.active.side
									div(id="{{chart.id}}_scores")
								.side
									div(id="{{chart.id}}_percentiles")
								.side
									div(id="{{chart.id}}_breakdown")
					.ui.center.aligned.bottom.attached.segment
						.ui.blue.buttons
							.ui.button(ng-click="ctrl.showChart(chart.id+'_scores')") Scores
							.ui.button(ng-click="ctrl.showChart(chart.id+'_percentiles')") Percentiles
							.ui.button(ng-click="ctrl.showChart(chart.id+'_breakdown')") Breakdown

</x-jade>

<script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jade/1.9.2/jade.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/absurd/0.3.5/absurd.min.js"></script>

<script src="scripts/jade-query.min.js"></script>

<script type="text/coffeescript">
	style = 
		".HelloWorld":
			color: "green"
			opacity: 0.75

	css = new Absurd().add(style).compile()
	$('head').append("<style>\n#{css}</style>")
	$('x-jade').remove()
</script>

<script src="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.4.1/semantic.min.js"></script>
<script src="//code.highcharts.com/highcharts.js"></script>
<script src="//code.highcharts.com/highcharts-more.js"></script>
<script src="//code.highcharts.com/modules/exporting.js"></script>
<script src="//code.highcharts.com/modules/drilldown.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/sugar/1.4.1/sugar.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular-cookies.min.js"></script>

<script src="scripts/ui-utils.min.js"></script>

<script src="scripts/classes.coffee" type="text/coffeescript"></script>
<script src="scripts/main.coffee" type="text/coffeescript"></script>

<script src="//coffeescript.org/extras/coffee-script.js"></script>

</body>
</html>
